:root {
    --primary-color: #49B51F;
    --secondary-color: #D3D3D3;
    --light-secondary-color: #e4e4e4;
    --wildcard-green-color: #399F2E;
    --wildcard-gray-color: #626363;
    --primary-font: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */
html {
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

h1 {
    font-size: 3rem;   
}
h2 {
    font-size: 2.4rem;   
}
h3 {
    font-size: 2rem;   
}
a {
    text-decoration: none;
    cursor: pointer;
}
p {
    font-size: 1.4rem;
    padding:1rem;
}
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

button {
    border: none;
}

/* UTILS */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-create {
    margin: 1rem;
}
.btn-primary, .btn-editar, .btn-eliminar  {
    padding: 1rem;
    width: 100px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 1.4rem;
}
.btn-editar, .btn-eliminar {
    border-radius: 1rem;
}
.btn-primary:hover {
    color: var(--wildcard-green-color);
    background-color: var(--secondary-color);
}
.btn-secondary {
    padding: 1rem;
    width: 100px;
    background-color: var(--wildcard-gray-color);
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 1.4rem;
}
.btn-secondary:hover {
    background-color: var(--light-secondary-color);
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--wildcard-green-color);
}
.btn-editar {
    background-color: #399F2E;
}
.btn-editar:hover {
    background-image: linear-gradient(to bottom right, var(--primary-color), white);
}
.btn-eliminar {
    background-color: red;
}
.btn-eliminar:hover {
    background-image: linear-gradient(to bottom right, red, white);
}
.unete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.label-state {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
}
label {
    font-size: 1.4rem;
    font-weight: bolder;
}
input, select {
    font-size: 1.4rem;
    height: 30px;
    border: none;border-bottom: 1px solid var(--wildcard-green-color);
}
textarea {
    resize: none;
}
.error {
    color: red;
}
.form-filtros {
    display: flex;
    flex-direction: row;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}
/* NAVIGATION */

header {
    width: 100%;
}
nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: var(--light-secondary-color);
}
.options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nav-logo {
    width: 50px;
}
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    padding: 1rem;
}
.nav-link:hover {
    background-color: #fff;
    color: var(--wildcard-green-color);
    transition: all ease-in 0.2s;
}
.login {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--wildcard-green-color);
    padding: 1rem;
    border: 2px solid var(--wildcard-green-color);
    border-radius: 1rem;
}
.login:hover {
    background-color: var(--wildcard-green-color);
    color: #fff;
    transition: all ease-in 0.2s;
}
.user-state-header {
    margin: 1rem;
}
/* BANNER */
.banner {
    background-image: url(../img/run.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(80%);
    height: 500px;
    width: 100%;
}

/* COMPONENTES */
.programas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 1rem;
}
.programa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-secondary-color);
}
.programa:hover {
    background-color: var(--wildcard-green-color);
    opacity: 80%;
    color: #eee;
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.programa:hover .circle {
    background-color: #eee;
}
.programa-titulo, .tarifa-titulo {
    font-size: 1.4rem;
}

/* TARIFAS */
.tarifas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.tarifa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wildcard-green-color);
    opacity: 80%;
    color: #eee;
}
.tarifa:hover {
    /* background-color: var(--wildcard-gray-color); */
    background-color: var(--secondary-color);
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #000;
}
.tarifa .circle {
    background-color: #fff;
}
.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}
/* NOSOTROS */
.nosotros, .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.nosotros-imagen {
    width: 500px;
}
.nosotros-info {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
#contacta-nosotros {
    color: var(--wildcard-green-color);
}
#form-contacto, .form-crear {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
/* TESTIMONIAL */ 
.tres-columnas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-secondary-color);
    padding: 1rem;
}
.testimonial:hover {
    background-color: var(--wildcard-green-color);
    opacity: 80%;
    color: #eee;
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.testimonial:hover .testimonial-nombre {
    color: #eee;
}
.testimonial-imagen {
    width: 75px;
    border-radius: 50%;
}
.testimonial-nombre {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--wildcard-green-color);
}
#testimoniales-frase {
    color: var(--wildcard-green-color);
    font-size: 1.6rem;
    text-align: center;
}

/* LOGIN */
.login-columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left-column-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
}
.left-column-login .circle {
    background-color: #fff;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

/* PERFIL */
.usuario-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    opacity: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* LISTA USUARIOS */
.lista-admin {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.lista-usuario:hover {
    transform: scale(1.02);
    transition: all ease-in 0.2s;
    background-color: var(--primary-color);
    color: #fff;
}
.lista-usuario {
    display: flex;
    flex-direction: row;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}
/* SOLICITUD */
.lista-solicitud {
    display: flex;
    flex-direction: column;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}
.lista-solicitud-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
}
/* FOOTER */
.footer {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: var(--light-secondary-color);
    width: 100%;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

/* ADMIN */
.panel-admin {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.panel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    filter: grayscale(100%);
}
.panel-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    background-color: var(--wildcard-green-color);
}
#panel-usuarios, #panel-tarifas  {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    height: 300px;
    justify-content: flex-end;
}
#panel-usuarios .panel  {
    background-image: url(../img/usuarios.jpg);
}
#panel-tarifas .panel  {
    background-image: url(../img/tarifas.jpg);
}

/* MEDIA */
@media (max-width: 1110px) {
    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-imagen {
        width: 60%;
    }
}
@media (max-width: 1024px) {
    .sobre-nosotros {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .programas, .tres-columnas {
        grid-template-columns: repeat(2,1fr);
    }
    .login-columnas {
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
    .panel-admin {
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
}
@media (max-width: 574px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .user-state-header {
        margin-bottom: 2rem;
    }
}
@media (max-width: 425px) {
    .programas, .tres-columnas  {
        display: flex;
        flex-direction: column;
    }
}