:root {
    /* --primary-color: #49B51F; */
    --primary-color: #B3F45B;
    --secondary-color: #D3D3D3;
    --light-secondary-color: #e4e4e4;
    --darker-green-color: #399F2E;
    --wildcard-green-color: #8df358;
    --wildcard-gray-color: #626363;
    --primary-font: 'Barlow', sans-serif;

}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */
html {
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #2b2b22;
    color: white;
}

h1 {
    font-size: 3rem;   
}
h2 {
    font-size: 2.8rem;
    font-style: italic;   
}
h2 span {
    font-size: 2.8rem;
    font-style: italic;  
    color: var(--primary-color);
}
h3 {
    font-size: 2rem;   
}
h4 {
    font-size: 1.8rem; 
    margin: 0.4rem;  
}
a {
    text-decoration: none;
    cursor: pointer;
}
p, li {
    font-size: 1.4rem;
    padding:1rem;
    line-height: 2.4rem;
}
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

button {
    border: none;
}
.query-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* UTILS */
.overlay{
    display: grid;
    place-items: center;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top:0;
}
.btn-cerrar{
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    color: #000;
    display: grid;
    place-items: center;
    font-weight: bold;
}
.btn-cerrar.hover{
    cursor: pointer;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-create {
    margin: 1rem;
}
.btn-primary, .btn-editar, .btn-eliminar, .btn-tarifa  {
    padding: 1rem;
    width: 100px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 1.4rem;
}
.btn-tarifa {
    background-color: var(--primary-color);
    color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 88% 100%, 0 100%);
}
.btn-tarifa:hover {
    background-color: #000;
    color: #eee;
    transition: all ease-in 0.2s;
}
.btn-editar, .btn-eliminar {
    border-radius: 1rem;
}
.btn-primary:hover {
    color: #000;
    background-color: var(--secondary-color);
}
.btn-secondary {
    padding: 1rem;
    width: 100px;
    background-color: var(--wildcard-gray-color);
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 1.4rem;
}
.btn-secondary:hover {
    background-color: var(--light-secondary-color);
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--darker-green-color);
}
.btn-editar {
    background-color: #399F2E;
}
.btn-editar:hover {
    background-image: linear-gradient(to bottom right, var(--darker-green-color), white);
}
.btn-eliminar {
    background-color: red;
}
.btn-eliminar:hover {
    background-image: linear-gradient(to bottom right, red, white);
}
.unete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.label-state {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
}
label {
    font-size: 1.4rem;
    font-weight: bolder;
}
input, select {
    font-size: 1.4rem;
    height: 40px;
    background-color: var(--wildcard-gray-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
}
textarea {
    background-color: var(--wildcard-gray-color);
    border: none;
    color: white;
    resize: none;
    border-radius: 0.5rem;
}
.error {
    color: red;
}
.form-filtros {
    display: flex;
    flex-direction: row;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
    color: #000;
}
.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.active {
    text-decoration: underline;
    text-decoration-line: 2px;
}

.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--wildcard-gray-color);
    clip-path: polygon(0% 0%, 86% 0%, 100% 12%, 100% 100%, 0% 100%);
    width: 90%;
}
.check-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.check-list-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-color: var(--wildcard-gray-color);
}
.check-list-parent {
    width: 100%;
}
/* NAVIGATION */

header {
    width: 100%;
}
nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: #373737;
}
.options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nav-logo {
    width: 60px;
    background-color: #eee;
    border-radius: 50%;
}
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
    color: #eee;
    padding: 1rem;
}
.nav-link:hover {
    background-color: #fff;
    transition: all ease-in 0.2s;
    color: #000;
}
.login {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    padding: 1rem;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 88% 100%, 0 100%);
}
.login:hover {
    background-color: white;
    transition: all ease-in 0.2s;
}
.user-state-header {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
    gap: 1rem;
}
/* BANNER */
.banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 45% 55%;
    height: 600px;
    width: 100%; 
    text-transform: uppercase;
}
.banner-logo {
    width: 300px;
}
.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vector-derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.vector {
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.vector > * {
    margin: 0 0 0 2rem;
}
.vector-derecho > * {
    margin-right: 2rem;
}
.vector-izquierdo {
    clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
    width: 100%;
    font-style: italic;
}
.vector-izquierdo p {
    width: 200px;
}
#vector-izquierdo-superior {
    background-color: rgba(0, 0, 0, 0.923);
}
#vector-izquierdo-inferior {
    background-color: var(--wildcard-green-color);
    color: #000;
}
.vector-izquierdo svg {
    max-width: 100px;
}

/* COMPONENTES */
.programas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 1rem;
    color: #EEE;
}
.programa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3E3E3E;
    height: 400px;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 12%, 100% 100%, 0% 100%); */
}
.programa:hover {
    /* transform: scale(1.05); */
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--wildcard-green-color);
    color: #000;
}
.programa:hover .circle.programa-icono {
    background-color: var(--wildcard-gray-color);
}
.programa-titulo {
    font-size: 1.6rem;
    margin: 1rem;
}
/* TARIFAS */
.precio-contenedor {
    width: 100%;
    height: 50px;
    /* background-color: var(--primary-color); */
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    background-color: var(--wildcard-gray-color);
}
.tarifa-titulo {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.1rem;
    font-weight: lighter ;
    color: white;
}
.tarifas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    gap: 2rem;
    justify-items: center;
}
.tarifa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.tarifa:hover .precio-contenedor, .tarifa:hover .check-list-parent{
    background-color: var(--light-secondary-color);
    color: #000;
    transition: ease-in 0.1s;
}
.tarifa:hover .tarifa-titulo {
    color: #000;
}
.tarifa a {
    margin-bottom: 1rem;
    align-self: center;
}
.tarifa .circle {
    background-color: #fff;
}
.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--wildcard-gray-color);
    clip-path: polygon(0% 0%, 75% 0%, 100% 12%, 100% 100%, 0% 100%);
    height: 400px;
    width: 90%;
}
.valor > img, .circle > img {
    width: 60px;
}
#contenedor-tarifa {
    margin-bottom: auto;
}
.precio-tarifa-list {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* NOSOTROS */
.nosotros, .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.sobre-nosotros-texto {
    display: flex;
    flex-direction: column;

}
.nosotros-imagen {
    width: 500px;
}
.nosotros-info {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#contacta-nosotros {
    color: var(--wildcard-green-color);
}
#form-contacto, .form-crear {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
/* TESTIMONIAL */ 
.tres-columnas {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-items: center;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #3E3E3E;;
    padding: 1rem;
    color: #eee;
}
.testimonial:hover {
    background-color: var(--wildcard-green-color);
    opacity: 80%;
    color: #fff;
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.testimonial:hover .testimonial-nombre {
    color: #000;
}
.testimonial-imagen {
    width: 75px;
    border-radius: 50%;
}
.testimonial-nombre {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--wildcard-green-color);
}
#testimoniales-frase {
    color: var(--wildcard-green-color);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

/* LOGIN */
.login-columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left-column-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #000;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* PERFIL */
.usuario-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #000;
    opacity: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.user-info-emoji {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#perfil-usuario-panel {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.programas-usuario {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}

/* LISTA USUARIOS */
#contenedor-usuarios {
    margin-bottom: auto;
}
.lista-admin {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.lista-usuario:hover {
    transform: scale(1.02);
    transition: all ease-in 0.2s;
    background-color: var(--primary-color);
    
}
.lista-usuario {
    display: flex;
    flex-direction: row;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    color: #000;
}
/* SOLICITUD */
.lista-solicitud {
    display: flex;
    flex-direction: column;
    background-color: var(--light-secondary-color);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    color: #000;
}
.lista-solicitud-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
}
.lista-solicitud > p {
    align-self: flex-start;
}
/* FOOTER */
.footer {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: #373737;
    width: 100%;
}
.footer .options .nav-link {
    color: #eee;
}
.footer .options .nav-link:hover {
    color: #000;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.footer .div-logo{
    margin-top: 1rem;
}

/* ADMIN */
.panel-admin {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.panel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    filter: grayscale(100%);
}
.panel-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    background-color: var(--wildcard-green-color);
    color: #000;
}
#panel-usuarios, #panel-tarifas, #panel-solicitud  {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    color: #fff;
    padding: 1rem;
    height: 300px;
    justify-content: flex-end;
}
#panel-usuarios .panel  {
    background-image: url(../img/usuarios.jpg);
}
#panel-tarifas .panel  {
    background-image: url(../img/tarifas.jpg);
}
#panel-solicitud .panel  {
    background-image: url(../img/solicitud.jpg);
}

/* MEDIA */
@media (max-width: 1110px) {
    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros-imagen {
        width: 60%;
    }
}
@media(min-width: 1024px) {
    .img-overlay {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .sobre-nosotros {
        display: flex;
        flex-direction: column;
    }
    #perfil-usuario-panel {
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
    .banner-info img {
        width: 80%;
    }
    .img-overlay {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .programas, .tres-columnas {
        grid-template-columns: repeat(2,1fr);
    }
    .login-columnas {
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
    .panel-admin {
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
    .tarifas, .dos-columnas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tarifa {
        width: 300px;
    }
}
@media (max-width: 748px) {
    .vector-izquierdo {
        clip-path: none;
        display: none;
    }
    .banner {
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 574px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .user-state-header {
        margin-bottom: 2rem;
    }
}
@media (max-width: 425px) {
    .programas, .tres-columnas  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner {
        height: 300px;
    }

}